@page "/"

<h1>Info</h1>

<div class="row">
    <div class="col-md-12">
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        On develop branch
        Amet, consectetur adipiscing elit.
    </div>
</div>
